<a href="https://colab.research.google.com/github/harsheye/harsheye.github.io/blob/main/Exp1_Basics_of_Python%2C_Syntax%2C_Operators%2C_Variable%2C_if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Welcome to Python

# **What is Python**

Python is a dynamically typed, General Purpose Programming Language that supports an object-oriented programming approach as well as a functional programming approach.

Python is also an interpreted and high-level programming language.

It was created by Guido Van Rossum in 1989.

## Basics Of Python - Part 1 (Syntax, Operators, Variable, if-else)
#### Topics
1. Python basics syntax
2. Variable Declaration
3. Arithmetic Operators (+, -, *, /, //, %, **)
4. Bitwise Operators (&, |, ^, >>, <<, ~)
5. Comparison Operator (==, !=, >, <, >=, <=)
6. Assignment Operators (=, +=, -=, /=, //= etc.)
7. Logical Operators (and, or, not)
8. Identity Operators (is, is not)
9. Membership Operators (in, not in)
10. if-else

##### Note:
1. First Clean the Evironment (Go to "Kernel" Menu --> "Restart & Clean Output"
2. To execute the code --> Click on a cell and press cntrl + enter key

In simplest words, **Syntax** is the arrangement of words and phrases to create well-formed sentences in a language.

In the case of a computer language, the syntax is the structural arrangement of comments, variables, numbers, operators, statements, loops, functions, classes, objects, etc. which helps us understand the meaning or semantics of a computer language.



For E.g. a ‘comment’ is used to explain the functioning of a block of code. It starts with a ‘#’.



For E.g. a block of code is identified by an ‘indentation’. Have a look at the following code, here print(i) is said to be indented with respect to the link above it.

In simple words, indentation is the addition of spaces before the line "print(i)"

In [ ]:
i know myself i am a very ok ok for i in range(5):
  print(i)

0
1
2
3
4

# **Python Comments**

A comment is a part of the coding file that the programmer does not want to execute, rather the programmer uses it to either explain a block of code or to avoid the execution of a specific part of code while testing.



**Single-Line Comments:**
To write a comment just add a ‘#’ at the start of the line.

In [ ]:
#This is a 'Single-Line Comment'
print("This is a print statement.")

In [ ]:
print("Hello World !!!") #Printing Hello World

In [ ]:
print("Python Program")
#print("Python Program")

**Multi-Line Comments:**
To write multi-line comments you can use ‘#’ at each line or you can use the multiline string.

In [ ]:
#It will execute a block of code if a specified condition is true.
#If the codition is false than it will execute another block of code.
p = 7
if (p > 5):
    print("p is greater than 5.")
else:
    print("p is not greater than 5.")

p is greater than 5.

The use of multiline string.

In [ ]:
"""This is an if-else statement.
It will execute a block of code if a specified condition is true.
If the condition is false then it will execute another block of code."""
p = 7
if (p > 5):
    print("p is greater than 5.")
else:
    print("p is not greater than 5.")

p is greater than 5.

# 1: Lets start Python !!

### 1.1: Hello World !!

In [ ]:
#------------------------------------------------------------------------
# 1.1: Hello World !!
#------------------------------------------------------------------------
print ("Hello World !!")

Hello World !!

#### Assignment 1.1: WAP to print your name two times

# **Python Variables**

Variables are containers that store information that can be manipulated and referenced later by the programmer within the code.


```
# This is formatted as code
```



In python, the programmer does not need to declare the variable type explicitly, we just need to assign the value to the variable.

It is always advisable to keep variable names descriptive and to follow a set of conventions while creating variables:

Variable name can only contain alpha-numeric
characters and underscores (A-z, 0-9, and _ )

Variable name must start with a letter or the underscore character.

Variables are case sensitive.

Variable name cannot start with a number.

### 1.2: Variable declaration and print it

In [ ]:
a = 300        # Assingment; No output
a              # Print the value of a

300

In [ ]:
b = "Shyam"    # Assingment; No output
b              # Print the value of b

'Shyam'

In [ ]:
a = 300
a
b = "Shyam"
b              # Print the value of b only

'Shyam'

In [ ]:
a = 300
a
b = "Shyam"
b
print ("a -->", a)      # Print the value of a
print ("b -->", b)      # Print the value of b

a --> 300
b --> Shyam

### 1.3: Error (Indentation Error)

In [ ]:
 a = 20               # No error
print ("a -->", a)

a --> 20

In [ ]:
# Error - unexpected indent
 a = 20               # Error
print ("a -->", a)

IndentationError: ignored

In [ ]:
 # No Error
 a = 20              # No Error
print ("a -->", a)

a --> 20

In [ ]:
# Error - unexpected indent
a = 20
print ("a -->", a)
 b = 30              # Error
print ("b -->", b)

Sometimes, a multi-word variable name can be difficult to read by the reader. To make it more readable, the programmer can do the following:

In [ ]:
NameOfCity = "Mumbai"       #Pascal case
nameOfCity = "Berlin"       #Camel case
name_of_city = "Moscow"     #snake case

# **Data Types**
Data type specifies the type of value a variable requires to do various operations without causing an error. By default, python provides the following built-in data types:

Numeric data: int, float, complex
int: 3, -8, 0

float: 7.349, -9.0, 0.0000001

complex: 6 + 2i


Text data: str
str: “Hello World!!!”, “Python Programming”


Boolean data:
Boolean data consists of values True or False.


Sequenced data: list, tuple, range

# list:

 A list is an ordered collection of data with elements separated by a comma and enclosed within square brackets. Lists are mutable and can be modified after creation.

In [ ]:
list1 = [8, 2.3, [-4, 5], ["apple", "banana"]]
print(list1)

[8, 2.3, [-4, 5], ['apple', 'banana']]

# **tuple**:

A tuple is an ordered collection of data with elements separated by a comma and enclosed within parentheses. Tuples are immutable and can not be modified after creation.

In [ ]:
tuple1 = (("parrot", "sparrow"), ("Lion", "Tiger"))
print(tuple1)

(('parrot', 'sparrow'), ('Lion', 'Tiger'))

# range:

returns a sequence of numbers as specified by the user. If not specified by the user then it starts from 0 by default and increments by 1.

In [ ]:
sequence1 = range(4,14,3)
for i in sequence1:
    print(i)

4
7
10
13

# **Mapped data: dict**

dict: a dictionary is an unordered collection of data containing a key:value pair.



```
# This is formatted as code
```

The key:value pairs are enclosed within curly brackets.

In [ ]:
dict1 = {"name":"Sakshi", "age":20, "canVote":True}
print(dict1)

# **Data Conversion**

The process of converting numeric data from one type to another is called as type conversion.

To convert from integer to float, we use float() function.

To convert from integer to complex, we use the complex() function.

In [ ]:
num1 = -25
num2 = float(num1)
num3 = complex(num1)

print(num2)
print(num3)

-25.0
(-25+0j)

To convert from float to integer, we use int() function.

int() function rounds of the given number to the nearest integer value.


To convert from float to complex, we use the complex() function.

In [ ]:
num1 = 8.4
num2 = int(num1)
num3 = complex(num1)

print(num2)
print(num3)

Note: complex numbers cannot be converted to integer or float.

# **Type Casting**

Similar to type conversion, type casting is done when we want to specify a type on a variable.

In [ ]:
str1 = "7"
str2 = "3.142"
str3 = "13"
num1 = 29
num2 = 6.67

print(int(str1))
print(float(str2))
print(float(str3))
print(str(num1))
print(str(num2))

7
3.142
13.0
29
6.67

# 2: Different types of Operators

## 2.1 Arithmetic Operators (+, -, \*, /, //, %, **)

### 2.1.1: Use of + - * / %

In [ ]:
#------------------------------------------------------------------------
# 2.1.1: Use of + - * / %
#------------------------------------------------------------------------
a = 220
b = 16

c = a + b       # Use of +
print (a, "+", b, "-->", c)

c = a - b       # Use of -
print (a, "-", b, "-->", c)

c = a * b       # Use of *
print (a, "*", b, "-->", c)

c = a / b       # Use of /
print (a, "/", b, "-->", c)

c = a % b       # Use of %
print (a, "%", b, "-->", c)

### 2.1.2: Use of / and  //

regular division operator / and the floor division operator //

In the first calculation, c = a / b, you're using the regular division operator /. This division operator performs normal division and returns a floating-point result. In this case, 220 / 16 equals 13.75. Therefore, c will be assigned the value 13.75.

In the second calculation, c = a // b, you're using the floor division operator //. The floor division operator performs division and rounds down the result to the nearest integer. In this case, 220 // 16 equals 13. Therefore, c will be assigned the value 13.

In [ ]:
#------------------------------------------------------------------------
# 2.1.2: Use of / and  //
#------------------------------------------------------------------------
a = 220
b = 16

c = a / b       # Use of /
print (a, " /", b, "-->", c)

c = a // b      # Use of //
print (a, "//", b, "-->", c)

### 2.1.3: Use of ** (power)

In [ ]:
#------------------------------------------------------------------------
# 2.1.3: Use of ** (power)
#------------------------------------------------------------------------
a = 9
b = 2

c = a ** b       # Use of **
print (a, "**", b, "-->", c)

9 ** 2 --> 81

The line c = a ** b calculates a raised to the power of b using the exponentiation operator **. In this case, 9 ** 2 equals 81. Therefore, c will be assigned the value 81.

## 2.2: Bitwise Operators (&, |, ~, ^, >>, <<)

### 2.2.1: Use of & (and)

In [ ]:
#------------------------------------------------------------------------
# 2.2.1: Use of & (and) --> Sets each bit to 1 if both bits are 1.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1
d = 1

c = a & b       # Use of &
print (a, "&", b, "-->", c)

c = d & b       # Use of &
print (d, "&", b, "-->", c)

0 & 1 --> 0
1 & 1 --> 1

The first calculation, c = a & b, involves using the bitwise AND operator & between the binary representations of a and b. The binary representation of 0 is 0000, and the binary representation of 1 is 0001.The result of the bitwise AND operation is 0000 in binary, which is equivalent to 0 in decimal. Therefore, c will be assigned the value 0.

The second calculation, c = d & b, involves using the bitwise AND operator & between the binary representations of d and b. The binary representation of both 1 and d is 0001. The result of the bitwise AND operation is 0001 in binary, which is equivalent to 1 in decimal. Therefore, c will be assigned the value 1.

In [ ]:
#Example 2:
a = 20
b = 10
d = 10

c = a & b       # Use of &
print (a, "&", b, "-->", c)

c = d & b       # Use of &
print (d, "&", b, "-->", c)

The first calculation, c = a & b, involves using the bitwise AND operator & between the binary representations of a and b. The binary representation of 20 is 10100, and the binary representation of 10 is 01010.The result of the bitwise AND operation is 00000 in binary, which is equivalent to 0 in decimal. Therefore, c will be assigned the value 0.

The second calculation, c = d & b, involves using the bitwise AND operator & between the binary representations of d and b. The binary representation of both 10 and d is 01010. The result of the bitwise AND operation is 01010 in binary, which is equivalent to 10 in decimal. Therefore, c will be assigned the value 10.

### 2.2.2: Use of | (or)

In [ ]:
#------------------------------------------------------------------------
# 2.2.2: Use of | (or) --> Sets each bit to 1 if one of two bits is 1.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1
d = 1

c = a | b       # Use of |
print (a, "|", b, "-->", c)

c = d | b       # Use of |
print (d, "|", b, "-->", c)

The first calculation, c = a | b, involves using the bitwise OR operator | between the binary representations of a and b. The binary representation of 0 is 0000, and the binary representation of 1 is 0001.The result of the bitwise OR operation is 0001 in binary, which is equivalent to 1 in decimal. Therefore, c will be assigned the value 1.

In [ ]:
#Example 2:
a = 20
b = 10
d = 10

c = a | b       # Use of |
print (a, "|", b, "-->", c)

c = d | b       # Use of |
print (d, "|", b, "-->", c)

The first calculation, c = a | b, involves using the bitwise OR operator | between the binary representations of a and b. The binary representation of 20 is 10100, and the binary representation of 10 is 01010.The result of the bitwise OR operation is 11110 in binary, which is equivalent to 30 in decimal. Therefore, c will be assigned the value 30.

### 2.2.3: Use of ~ (not)

In [ ]:
#------------------------------------------------------------------------
# 2.2.3: Use of ~ (not) --> Inverts all the bits.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1

c = ~a        # Use of ~
print ("~", a, "-->", c)

c = ~b       # Use of ~
print ("~", b, "-->", c)

~ 0 --> -1
~ 1 --> -2

The first calculation, c = ~a, involves using the bitwise NOT operator ~ on the binary representation of a. The binary representation of 0 is 0000. Applying the bitwise NOT operation to each bit:
~0000
------
1111
The result of the bitwise NOT operation is 1111 in binary, which is equivalent to -1 in two's complement signed integer representation. Therefore, c will be assigned the value -1.

The second calculation, c = ~b, involves using the bitwise NOT operator ~ on the binary representation of b. The binary representation of 1 is 0001. Applying the bitwise NOT operation to each bit:
~0001
------
1110
The result of the bitwise NOT operation is 1110 in binary, which is equivalent to -2 in two's complement signed integer representation. Therefore, c will be assigned the value -2.

The code demonstrates the bitwise NOT operation on binary representations of numbers, resulting in negative values in two's complement representation.

In [ ]:
#Example 2:
a = 20
b = 10

c = ~a        # Use of ~
print ("~", a, "-->", c)

c = ~b       # Use of ~
print ("~", b, "-->", c)

~ 20 --> -21
~ 10 --> -11

The first calculation, c = ~a, involves using the bitwise NOT operator ~ on the binary representation of a. The binary representation of 20 is 10100. Applying the bitwise NOT operation to each bit:
~10100
-------
01011
The result of the bitwise NOT operation is 01011 in binary, which is equivalent to -21 in two's complement signed integer representation. Therefore, c will be assigned the value -21.

The second calculation, c = ~b, involves using the bitwise NOT operator ~ on the binary representation of b. The binary representation of 10 is 01010. Applying the bitwise NOT operation to each bit:
~01010
-------
10101
The result of the bitwise NOT operation is 10101 in binary, which is equivalent to -11 in two's complement signed integer representation. Therefore, c will be assigned the value -11.

### 2.2.4: Use of ^ (xor)

In [ ]:
#------------------------------------------------------------------------
# 2.2.4: Use of ^ (xor) --> Sets each bit to 1 if only one of two bits is 1.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1
d = 1

c = a ^ b       # Use of ^
print (a, "^", b, "-->", c)

c = d ^ b       # Use of ^
print (d, "^", b, "-->", c)

The first calculation, c = a ^ b, involves using the bitwise XOR operator ^ between the binary representations of a and b. The binary representation of 0 is 0000, and the binary representation of 1 is 0001. Performing a bitwise XOR operation:
0000
0001
------
0001
The result of the bitwise XOR operation is 0001 in binary, which is equivalent to 1 in decimal. Therefore, c will be assigned the value 1.

The second calculation, c = d ^ b, involves using the bitwise XOR operator ^ between the binary representations of d and b. The binary representation of both 1 and d is 0001. Performing a bitwise XOR operation:
0001
0001
------
0000
The result of the bitwise XOR operation is 0000 in binary, which is equivalent to 0 in decimal. Therefore, c will be assigned the value 0.

In [ ]:
#Example 2:
a = 20
b = 10
d = 10

c = a ^ b       # Use of ^
print (a, "^", b, "-->", c)

c = d ^ b       # Use of ^
print (d, "^", b, "-->", c)

The first calculation, c = a ^ b, involves using the bitwise XOR operator ^ between the binary representations of a and b. The binary representation of 20 is 10100, and the binary representation of 10 is 01010. Performing a bitwise XOR operation:
10100
01010
------
11110
The result of the bitwise XOR operation is 11110 in binary, which is equivalent to 30 in decimal. Therefore, c will be assigned the value 30.

The second calculation, c = d ^ b, involves using the bitwise XOR operator ^ between the binary representations of d and b. The binary representation of both 10 and d is 01010. Performing a bitwise XOR operation:
01010
01010
------
00000
The result of the bitwise XOR operation is 00000 in binary, which is equivalent to 0 in decimal. Therefore, c will be assigned the value 0.

### 2.2.5: Use  >> (shift right)

In [ ]:
#------------------------------------------------------------------------
# 2.2.5: Use  >> (shift right) --> Shift right by pushing copies of the leftmost
# bit in from the left, and let the rightmost bits fall off.
#------------------------------------------------------------------------
#Example 1:
a = 1
b = 1
d = 2

c = a >> b       # Use of >>
print (a, ">>", b, "-->", c)

c = a >> d       # Use of >>
print (a, ">>", d, "-->", c)

1 >> 1 --> 0
1 >> 2 --> 0

The first calculation, c = a >> b, involves using the right-shift operator >> on the binary representation of a. The binary representation of 1 is 0001. Shifting the bits of a to the right by 1 position:
0001 >> 1
--------
0000
The result of the right-shift operation is 0000 in binary, which is equivalent to 0 in decimal. Therefore, c will be assigned the value 0.

The second calculation, c = a >> d, involves using the right-shift operator >> on the binary representation of a. Shifting the bits of a to the right by 2 positions:
0001 >> 2
--------
0000

The result of the right-shift operation is again 0000 in binary, which is equivalent to 0 in decimal. Therefore, c will be assigned the value 0.

In [ ]:
#Example 2:
a = 20
b = 1
d = 2

c = a >> b       # Use of >>
print (a, ">>", b, "-->", c)

c = a >> d       # Use of >>
print (a, ">>", d, "-->", c)

20 >> 1 --> 10
20 >> 2 --> 5

The first calculation, c = a >> b, involves using the right-shift operator >> on the binary representation of a. The binary representation of 20 is 10100. Shifting the bits of a to the right by 1 position:
10100 >> 1
----------
01010

The result of the right-shift operation is 01010 in binary, which is equivalent to 10 in decimal. Therefore, c will be assigned the value 10.

The second calculation, c = a >> d, involves using the right-shift operator >> on the binary representation of a. Shifting the bits of a to the right by 2 positions:

10100 >> 2
----------
00101

The result of the right-shift operation is 00101 in binary, which is equivalent to 5 in decimal. Therefore, c will be assigned the value 5.

### 2.2.6: Use  << (shift left)

In [ ]:
#------------------------------------------------------------------------
# 2.2.6: Use  << (shift left) --> Zero fill left shift
# Shift left by pushing zeros in from the right and let the leftmost bits fall off.
#------------------------------------------------------------------------
#Example 1:
a = 1
b = 1
d = 2

c = a << b       # Use of <<
print (a, "<<", b, "-->", c)

c = a << d       # Use of <<
print (a, "<<", d, "-->", c)

The first calculation, c = a << b, involves using the left-shift operator << on the binary representation of a. The binary representation of 1 is 0001. Shifting the bits of a to the left by 1 position:
0001 << 1
--------
0010

The result of the left-shift operation is 0010 in binary, which is equivalent to 2 in decimal. Therefore, c will be assigned the value 2.

The second calculation, c = a << d, involves using the left-shift operator << on the binary representation of a. Shifting the bits of a to the left by 2 positions:
0001 << 2
--------
0100

The result of the left-shift operation is 0100 in binary, which is equivalent to 4 in decimal. Therefore, c will be assigned the value 4.

In [ ]:
#Example 2:
a = 20
b = 1
d = 2

c = a << b       # Use of <<
print (a, "<<", b, "-->", c)

c = a << d       # Use of <<
print (a, "<<", d, "-->", c)

The first calculation, c = a << b, involves using the left-shift operator << on the binary representation of a. The binary representation of 20 is 10100. Shifting the bits of a to the left by 1 position:
10100 << 1
----------
101000

The result of the left-shift operation is 101000 in binary, which is equivalent to 40 in decimal. Therefore, c will be assigned the value 40.

The second calculation, c = a << d, involves using the left-shift operator << on the binary representation of a. Shifting the bits of a to the left by 2 positions:
10100 << 2
----------
1010000

The result of the left-shift operation is 1010000 in binary, which is equivalent to 80 in decimal. Therefore, c will be assigned the value 80.

## 2.3: Assignment Operators (=, +=, -=, /=, //=)

### 2.3.1: Use of +=

In [ ]:
#------------------------------------------------------------------------
# 2.3.1: Use of +=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a += 10
print ("a += 10 -->", a)

a  = 20
a += 10 --> 30

### 2.3.2: Use of -=

In [ ]:
#------------------------------------------------------------------------
# 2.3.2: Use of -=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a -= 10
print ("a -= 10 -->", a)

### 2.3.3: Use of *=

In [ ]:
#------------------------------------------------------------------------
# 2.3.3: Use of *=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a *= 10
print ("a *= 10 -->", a)

### 2.3.4: Use of /= and //=

In [ ]:
#------------------------------------------------------------------------
# 2.3.4: Use of /= and //=
#------------------------------------------------------------------------
a = 20
print ("\n a  =", a)

a /= 10
print (" a /= 10  -->", a)

a = 20
print ("\n a   =", a)

a //= 10
print (" a //= 10 -->", a)

# **Python Booleans**

Boolean consists of only two values; True and False.



**Why are Boolean’s needed?**

In [ ]:
x = 13
if(x>13):
    print("X is a greater than 13.")
else:
    print("X is not greater than 13.")

X is not greater than 13.

Is it True that X is greater than 13 or is it False?


Thus Booleans are used to know whether the given expression is True or False.

bool() function evaluates values and returns True or False.

# 3: Input from user

### 3.1: Input from user and print it

In [ ]:
#------------------------------------------------------------------------
# 3.1: Input from user and print it
#------------------------------------------------------------------------
a = input("Enter Anything(Name/Numer): ")
print("\nYour Input is           -->",a)

Enter Anything(Name/Numer): 6

Your Input is           --> 6

# **Python Strings**

**What are strings?**

In python, anything that you enclose between single or double quotation marks is considered a string.

 A string is essentially a sequence or array of textual data.

# **Operation on Strings**

# **Length of a String:**

We can find the length of a string using len() function.

In [ ]:
fruit = "Mango"
len1 = len(fruit)
print("Mango is a", len1, "letter word.")

# **String as an Array:**

A string is essentially a sequence of characters also called an array. Thus we can access the elements of this array.

In [ ]:
pie = "ApplePie"
print(pie[:5])
print(pie[6])	#returns character at specified index

Apple
i

Note: This method of specifying the start and end index to specify a part of a string is called slicing.

In [ ]:
pie = "ApplePie"
print(pie[:5])      #Slicing from Start
print(pie[5:])      #Slicing till End
print(pie[2:6])     #Slicing in between
print(pie[-8:])     #Slicing using negative index

Apple
Pie
pleP
ApplePie


pie[:5] is using string slicing to extract a portion of the string pie. The colon : indicates that you want to start slicing from the beginning of the string and continue up to (but not including) the 5th character. This will extract the characters from indices 0 to 4.

The result of pie[:5] is "Apple".

pie[5:] is using string slicing to extract a portion of the string pie. The colon : indicates that you want to start slicing from the 5th character and continue until the end of the string.

The result of pie[5:] is "Pie".

pie[2:6] is using string slicing to extract a portion of the string pie. The colon : indicates that you want to start slicing from the 2nd character and continue up to (but not including) the 6th character. This will extract the characters from indices 2 to 5.

pie[-8:] is using string slicing to extract a portion of the string pie. In this case, the colon : indicates that you want to start slicing from the 8th character from the end of the string (denoted by -8) and continue to the end of the string. Since the string "ApplePie" has a length of 8, the slicing effectively starts from the first character and includes the entire string.

# **Loop through a String:**

Strings are arrays and arrays are iterable. Thus we can loop through strings.

In [ ]:
alphabets = "ABCDE"
for i in alphabets:
    print(i)

A
B
C
D
E

The for loop iterates through each character i in the string alphabets.

In each iteration, the print(i) statement prints the current character i.

The code will loop through each character in the string "ABCDE" and print them one by one.

### 3.2: Concatenate two strings

In [ ]:
#------------------------------------------------------------------------
# 3.2: Concatenate two strings
#------------------------------------------------------------------------
a = input("Enter First String : ")
b = input("Enter Second String: ")
c = a + b  # concatinate two strings
print("")
print(a, "+", b, "-->", c)

#### Re-Run the above code and input two numbers

### 3.3: Input two numbers from user and add them

In [ ]:
#------------------------------------------------------------------------
# 3.3: Input two numbers from user and add them
#------------------------------------------------------------------------
a = int(input("Enter First No : "))
b = int(input("Enter Second No: "))
c = a + b
print ("")
print (a, "+", b, "-->", c)

### 3.4: Concatenate String and Number

#### 3.4.1 Concatenate String and Number

In [ ]:
#------------------------------------------------------------------------
# 3.4.1: Concatenate String and Number
#------------------------------------------------------------------------
c = "Ram" + 10   # Error: Different data type
print (c)

#### 3.4.2: Concatenate String and Number

In [ ]:
#------------------------------------------------------------------------
# 3.4.2: Concatenate String and Number
#------------------------------------------------------------------------
c = "Ram" + "10"
print ("c -->",c)

3.4.3: Concatenate String and Number

In [ ]:
#------------------------------------------------------------------------
# 3.4.3: Concatenate String and Number
#------------------------------------------------------------------------
a = 10
b = "Ram"
c = a + b         # Error: Different data type
print (a, "+", b, "-->", c)

#### 3.4.4: Concatenate String and Number

In [ ]:
#------------------------------------------------------------------------
# 3.4.4: Concatenate String and Number
#------------------------------------------------------------------------
a = 10
b = "Ram"
c = str(a) + b

print (a, "+", b, "-->", c)

#### Assingment 3.1: WAP to add three numbers, inputs from user and print result
#### Assingment 3.2: WAP to concatinate three strings, inputs from user and print

# 4: If-Else - Conditional Checking

### 4.1: Input two numbers from user and compare them

In [ ]:
#------------------------------------------------------------------------
# 4.1: Input two numbers from user and compare them
#------------------------------------------------------------------------
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
    print (a,">",b)
else:
    print (a,"<",b)

In [ ]:
a = 10
b = 20
print (a == b)
print (a != b)

### 4.2: Check weather a number is odd or even:

In [ ]:
#------------------------------------------------------------------------
# 4.2: Check weather a number is odd or even:
#------------------------------------------------------------------------
#Example 1:
n = int(input("Enter a Number: "))
if  n % 2 == 0:
    print (n, "is even")
else:
    print (n, "is odd")

input("Enter a Number: ") prompts the user to enter a value. The text "Enter a Number: " is displayed to the user as a prompt.

The entered value is captured as a string from the user.

int(...) converts the captured string into an integer. This is achieved by converting the string representation of a number into its corresponding integer value.

The resulting integer is assigned to the variable n.

In [ ]:
#Example 2:
n = int(input("Enter a Number: "))
if  n % 2 != 0:
    print (n,"is odd")
else:
    print (n,"is even")

### 4.3: Conditional Checking - Compare strings

In [ ]:
#------------------------------------------------------------------------
# 4.3: Conditional Checking - Compare strings
#------------------------------------------------------------------------
a = input("Enter First String: ")
b = input("Enter Second String: ")

if a == b:
    print ("a == b")
elif a >= b:
    print ("a > b")
else:
    print ("a < b")
    x=70                   # in the else block
    y=80                   # in the else block
z=90                       # Out of the else block

Enter First String: hello
Enter Second String: welcome
a < b

### 4.4: Logical Operators (and, or, not)

#### 4.4.1: Use of and

In [ ]:
#------------------------------------------------------------------------
# 4.4.1: Use of and
#------------------------------------------------------------------------
a = 10
b = 20

if a == 10 and b == 20:
    print ("Accepted")
elif a >= b:
    print ("Rejected")
else:
    print ("On Hold")

#### 4.4.2: Use of and

In [ ]:
#------------------------------------------------------------------------
# 4.4.2: Use of and
#------------------------------------------------------------------------
a = 0
b = 0
print ("a and b -->", a and b)
print ("a  &  b -->", a & b)

a and b --> 0
a  &  b --> 0

The first line, print("a and b -->", a and b), involves using the logical AND operator and to check the truth value of the expressions a and b. In Python, the logical AND operator returns the first false operand or the last operand if both are true. Since both a and b are 0 (which is considered false), the result of a and b will be 0.

The second line, print("a & b -->", a & b), involves using the bitwise AND operator & to perform a bitwise AND operation on the binary representations of a and b. The binary representation of 0 is 0000, and performing a bitwise AND operation:

0000
0000
------
0000

The result of the bitwise AND operation is 0000 in binary, which is equivalent to 0 in decimal.

#### Re-Run the above code with a=1 and b=0 | a=0 and b=1 | a=1 and b=1

#### 4.4.3: Use of and

In [ ]:
#------------------------------------------------------------------------
# 4.4.3: Use of and (Study logical and operator and bitwise and operator)
#------------------------------------------------------------------------
a = 20
b = 10
print ("a and b -->", a and b)
print ("a  &  b -->", a & b)

a and b --> 10
a  &  b --> 0

The first line, print("a and b -->", a and b), involves using the logical AND operator and to check the truth value of the expressions a and b. In Python, the logical AND operator returns the last operand if both operands are true; otherwise, it returns the first false operand. In this case, both a and b are considered true values (since they are nonzero), so the result of a and b will be the value of b, which is 10.

The second line, print("a & b -->", a & b), involves using the bitwise AND operator & to perform a bitwise AND operation on the binary representations of a and b. The binary representation of 20 is 10100, and the binary representation of 10 is 01010. Performing a bitwise AND operation:

10100
01010
------
00000

The result of the bitwise AND operation is 00000 in binary, which is equivalent to 0 in decimal.

#### Re-Run the above code with a = 10 and b = 20 | a = 10 and b = 0 | a = 0 and b = 20 | a = 1 and b = 20

#### 4.4.4: Use of or

In [ ]:
#------------------------------------------------------------------------
# 4.4.4: Use of or
#------------------------------------------------------------------------
a = 10
b = 20

if a == 20 or b == 20:
    print ("Accepted")
else:
    print ("Rejected")

The if statement checks whether either of the conditions a == 20 or b == 20 is true using the logical OR operator or. If at least one of the conditions is true, the code block under the if statement (indicated by indentation) will be executed. In this case, the second condition b == 20 is true, so the code will execute the print("Accepted") statement.

If both conditions in the if statement are false, the else block is executed. This block contains the print("Rejected") statement, which will be executed if neither a nor b is equal to 20.

#### 4.4.5: Use of or

In [ ]:
#------------------------------------------------------------------------
# 4.4.5: Use of or
#------------------------------------------------------------------------
a = 0
b = 0
print ("a or b -->", a or b)
print ("a  | b -->", a | b)

a or b --> 0
a  | b --> 0

The first line, print("a or b -->", a or b), involves using the logical OR operator or to check the truth value of the expressions a and b. In Python, the logical OR operator returns the first true operand or the last operand if both are false. Since both a and b are 0 (which is considered false), the result of a or b will be 0.

The second line, print("a | b -->", a | b), involves using the bitwise OR operator | to perform a bitwise OR operation on the binary representations of a and b. The binary representation of 0 is 0000, and performing a bitwise OR operation:

0000
0000
------
0000

The result of the bitwise OR operation is 0000 in binary, which is equivalent to 0 in decimal.

#### Re-Run the above code with a=1 and b=0 | a=0 and b=1 | a=1 and b=1

#### 4.4.6: Use of or

In [ ]:
#------------------------------------------------------------------------
# 4.4.6: Use of or
#------------------------------------------------------------------------
a = 10
b = 20
print ("a or b -->", a or b)
print ("a  | b -->", a | b)

The first line, print("a or b -->", a or b), involves using the logical OR operator or to check the truth value of the expressions a and b. In Python, the logical OR operator returns the first true operand or the last operand if both are false. Since both a and b are considered true values (since they are nonzero), the result of a or b will be the value of a, which is 10.

The second line, print("a | b -->", a | b), involves using the bitwise OR operator | to perform a bitwise OR operation on the binary representations of a and b. The binary representation of 10 is 1010, and the binary representation of 20 is 10100. Performing a bitwise OR operation:

1010
10100
------
11110

The result of the bitwise OR operation is 11110 in binary, which is equivalent to 30 in decimal.

#### Re-Run the above code with a = 10 and b = 0 | a = 0 and b = 20 | a = 1 and b = 20

#### 4.4.7: Use of not

In [ ]:
#------------------------------------------------------------------------
# 4.4.7: Use of not
#------------------------------------------------------------------------
#Example 1:
a = True
print("a     -->", a)
print("not a -->", not a)

a     --> True
not a --> False

In [ ]:
#Example 2:
a = 1
print("a     -->", a)
print("not a -->", not a)

a     --> 1
not a --> False

#### Re-Run the above code with a=0 | a=10 | a=20

### 4.5: Identity Operators (is, is not)

In Python, the is and is not operators are used to compare object identity, not just their values. The is operator returns True if both operands refer to the same object in memory, while the is not operator returns True if they do not refer to the same object.

In [ ]:
#------------------------------------------------------------------------
# 4.5: Identity Operators (is, is not)
#------------------------------------------------------------------------
a = 10
b = 20
print ("a is a     -->", a is a)
print ("a is not a -->", a is not a)
print("")
print ("a is b     -->", a is b)
print ("a is not b -->", a is not b)

a is a     --> True
a is not a --> False

a is b     --> False
a is not b --> True

In the first line, a is a checks if the object referenced by both occurrences of a is the same. Since they both refer to the same integer object (the integer 10), the result will be True.

In the second line, a is not a checks if the object referenced by both occurrences of a is not the same. Since they both refer to the same integer object, the result will be False.

In the fourth line, a is b checks if the object referenced by a is the same as the object referenced by b. Since a and b hold different integer values (10 and 20), they refer to different integer objects, so the result will be False.

In the fifth line, a is not b checks if the object referenced by a is not the same as the object referenced by b. Since a and b refer to different integer objects, the result will be True.

The is and is not operators are used for object identity comparison, not value comparison.

### 4.6: Membership Operators (in, not in)

In [ ]:
#------------------------------------------------------------------------
# 4.6: Membership Operators (in, not in)
#------------------------------------------------------------------------
a = [10, 20, 30]

print ("10 in a     -->",10 in a)
print ("40 in a     -->",40 in a)

print ("")
print ("10 not in a -->",10 not in a)
print ("40 not in a -->",40 not in a)

10 in a     --> True
40 in a     --> False

10 not in a --> False
40 not in a --> True

#### Assingment 4.1: WAP to find max among three numbers and input from user [Hint: Try max() function]

In [ ]:
# Input three numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Find the maximum among the three numbers
max_num = max(num1, num2, num3)

# Print the maximum number
print("The maximum number among", num1, ",", num2, "and", num3, "is:", max_num)

Enter the first number: 56
Enter the second number: 23
Enter the third number: 78
The maximum number among 56.0 , 23.0 and 78.0 is: 78.0

# **Python Lists**

Lists are ordered collection of data items.

They store multiple items in a single variable.

List items are separated by commas and enclosed within square brackets [].

Lists are changeable meaning we can alter them after creation.

Lists:

Mutability: Lists are mutable, meaning you can change their elements after they are created. You can add, remove, or modify items in a list.

Use Cases: Lists are suitable for situations where you need to store a collection of items that might change over time, such as a to-do list, a list of user data, or any dynamic collection.

Performance: Due to their mutability, lists can be slightly slower than tuples in terms of memory and performance, especially when dealing with large collections of data.

Syntax: Lists are created using square brackets [...].

In [ ]:
lst1 = [1,2,2,3,5,4,6]
lst2 = ["Red", "Green", "Blue"]
print(lst1)
print(lst2)

[1, 2, 2, 3, 5, 4, 6]
['Red', 'Green', 'Blue']

In [ ]:
details = ["Abhijeet", 18, "FYBScIT", 9.8]
print(details)

## **List Indexes**
Each item/element in a list has its own unique index.

This index can be used to access any particular item from the list.

The first item has index [0], second item has index [1], third item has index [2] and so on.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [0]      [1]     [2]      [3]      [4]

# Accessing list items:


**Positive Indexing:**

As we have seen that list items have index, as such we can access items using these indexes.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [0]      [1]     [2]      [3]      [4]
print(colors[2])
print(colors[4])
print(colors[0])

Blue
Green
Red

**Negative Indexing:**

Similar to positive indexing, negative indexing is also used to access items, but from the end of the list.

The last item has index [-1], second last item has index [-2], third last item has index [-3] and so on.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [-5]    [-4]    [-3]     [-2]      [-1]
print(colors[-1])
print(colors[-3])
print(colors[-5])

Green
Blue
Red

**Check for item:**

We can check if a given item is present in the list. This is done using the in keyword.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
if "Yellow" in colors:
    print("Yellow is present.")
else:
    print("Yellow is absent.")

Yellow is present.

**Range of Index:**


You can print a range of list items by specifying where do you want to start, where do you want to end and if you want to skip elements in between the range.

Syntax:

List[start : end : jumpIndex]

Note: jump Index is optional. We will see this in given examples.

In [ ]:

animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[3:7])	#using positive indexes
print(animals[-7:-2])	#using negative indexes

['mouse', 'pig', 'horse', 'donkey']
['bat', 'mouse', 'pig', 'horse', 'donkey']

The first print statement, print(animals[3:7]), uses positive indexes to slice the list animals. The slice [3:7] extracts elements from index 3 (inclusive) up to index 7 (exclusive). This includes elements at indexes 3, 4, 5, and 6.

The second print statement, print(animals[-7:-2]), uses negative indexes to slice the list animals. The slice [-7:-2] extracts elements from the 7th element from the end (inclusive) up to the 2nd element from the end (exclusive). This includes elements at indexes -7, -6, -5, -4, and -3.

# Python Tuples
Tuples are ordered collection of data items.

 They store multiple items in a single variable.

  Tuple items are separated by commas and enclosed within round brackets ().
  
  Tuples are unchangeable meaning we can not alter them after creation.

Tuples:

Immutability: Tuples are immutable, meaning their elements cannot be changed after creation. Once you define a tuple, you cannot modify its contents.

Use Cases: Tuples are suitable for situations where you want to ensure that the data remains constant and unchanged, like coordinates, configuration settings, or any data that shouldn't be accidentally modified.

Performance: Tuples are generally faster and use less memory compared to lists because of their immutability.

Syntax: Tuples are created using parentheses (...).

Use lists when you need a mutable collection of items that may change over time.
Use tuples when you want to ensure data integrity, and the collection of items should remain constant.

If you need to store a collection of related data where each item has a different meaning, dictionaries might be a better choice.

Both lists and tuples have their advantages, and the choice between them depends on the specific requirements of your program.

In [ ]:
tuple1 = (1,2,2,3,5,4,6)
tuple2 = ("Red", "Green", "Blue")
print(tuple1)
print(tuple2)

(1, 2, 2, 3, 5, 4, 6)
('Red', 'Green', 'Blue')

In [ ]:
details = ("Abhijeet", 18, "FYBScIT", 9.8)
print(details)

# Tuple Indexes

Each item/element in a tuple has its own unique index.

 This index can be used to access any particular item from the tuple.

  The first item has index [0], second item has index [1], third item has index [2] and so on.

In [ ]:
country = ("Spain", "Italy", "India", "England", "Germany")
#            [0]      [1]      [2]       [3]        [4]

# Positive Indexing:

As we have seen that tuple items have index, as such we can access items using these indexes.

In [ ]:
country = ("Spain", "Italy", "India", "England", "Germany")
#            [0]      [1]      [2]       [3]        [4]
print(country[1])
print(country[3])
print(country[0])

# Negative Indexing:

Similar to positive indexing, negative indexing is also used to access items, but from the end of the tuple.

The last item has index [-1], second last item has index [-2], third last item has index [-3] and so on.

In [ ]:
country = ("Spain", "Italy", "India", "England", "Germany")
#            [0]      [1]      [2]       [3]        [4]
print(country[-1])
print(country[-3])
print(country[-4])

# Check for item:

We can check if a given item is present in the tuple. This is done using the in keyword.

In [ ]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Germany" in country:
    print("Germany is present.")
else:
    print("Germany is absent.")

# Range of Index:

You can print a range of tuple items by specifying where do you want to start, where do you want to end and if you want to skip elements in between the range.



Syntax:

Tuple[start : end : jumpIndex]

Note: jump Index is optional.

In [ ]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[3:7])     #using positive indexes
print(animals[-7:-2])   #using negative indexes

Here, we provide index of the element from where we want to start and the index of the element till which we want to print the values.

Note: The element of the end index provided will not be included.

** printing all element from a given index till the end**

In [ ]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[4:])      #using positive indexes
print(animals[-4:])     #using negative indexes

When no end index is provided, the interpreter prints all the values till the end.

** printing all elements from start to a given index.**

 When no start index is provided, the interpreter prints all the values from start up to the end index provided.

In [ ]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[:6])      #using positive indexes
print(animals[:-3])     #using negative indexes

**print alternate values**

Here, we have not provided start and index, which means all the values will be considered. But as we have provided a jump index of 2 only alternate values will be printed.

In [ ]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[::2])     #using positive indexes
print(animals[-8:-1:2]) #using negative indexes

**printing every 3rd consecutive withing given range**

Here, jump index is 3. Hence it prints every 3rd element within given index.

In [ ]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[1:8:3])

# Python Sets

Sets are unordered collection of data items.

They store multiple items in a single variable.

Sets items are separated by commas and enclosed within curly brackets {}.

Sets are unchangeable, meaning you cannot change items of the set once created. Sets do not contain duplicate items.

In [ ]:
info = {"Carla", 19, False, 5.9, 19}
print(info)

Here we see that the items of set occur in random order and hence they cannot be accessed using index numbers. Also sets do not allow duplicate values.

# Accessing set items:


**Using a For loop**

You can access items of set using a for loop.

In [ ]:
info = {"Carla", 19, False, 5.9}
for item in info:
    print(item)

# Add/Remove Set Items
**Add items to set:**

If you want to add a single item to the set use the add() method.

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)

If you want to add more than one item, simply create another set and use the update() method to add it into the existing set.

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Helsinki", "Warsaw", "Seoul"}
cities.update(cities2)
print(cities)

# Remove items from set:
We can use remove() and discard() methods to remove items form list.

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.discard("Delhi")
print(cities)

The main difference between remove and discard is that, if we try to delete an item which is not present in set, then remove() raises an error, whereas discard() does not raise any error.

**Check if item exists**

You can also check if an item exists in the set or not.

In [ ]:
info = {"Carla", 19, False, 5.9}
if "Carla" in info:
    print("Carla is present.")
else:
    print("Carla is absent.")

# Join Sets
Sets in python more or less work in the same way as sets in mathematics. We can perform operations like union and intersection on the sets just like in mathematics.



**I. union() and update():**

The union() and update() methods prints all items that are present in the two sets.

The union() method returns a new set whereas update() method adds item into the existing set from another set.

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.update(cities2)
print(cities)

# II. intersection and intersection_update():
The intersection() and intersection_update() methods prints only items that are similar to both the sets.

The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.intersection_update(cities2)
print(cities)

# III. symmetric_difference and symmetric_difference_update():
The symmetric_difference() and symmetric_difference_update() methods prints only items that are not similar to both the sets.

 The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference_update(cities2)
print(cities)

# IV. difference() and difference_update():
The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets.

The difference() method returns a new set whereas difference_update() method updates into the existing set from another set.

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities.difference(cities2)
print(cities3)

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
print(cities.difference(cities2))

# **Python Dictionaries**
Dictionaries are ordered collection of data items.

They store multiple items in a single variable.

Dictionaries items are key-value pairs that are separated by commas and enclosed within curly brackets {}.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)

# Access Items
**Accessing Dictionary items:**


**I. Accessing single values:**

Values in a dictionary can be accessed using keys. We can access dictionary values by mentioning keys either in square brackets or by using get method.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info['name'])
print(info.get('eligible'))

**II. Accessing multiple values:**

We can print all the values in the dictionary using values() method.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.values())

**III. Accessing keys:**

We can print all the keys in the dictionary using keys() method.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.keys())

**IV. Accessing key-value pairs:**

We can print all the key-value pairs in the dictionary using items() method.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.items())

# Add/Remove Items
**Adding items to dictionary:**

There are two ways to add items to a dictionary.

I. Create a new key and assign a value to it:

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)
info['DOB'] = 2001
print(info)

**II. Use the update() method:**

The update() method updates the value of the key provided to it if the item already exists in the dictionary, else it creates a new key-value pair.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)
info.update({'age':20})
info.update({'DOB':2001})
print(info)

**Removing items from dictionary:**

There are a few methods that we can use to remove items from dictionary.



clear(): The clear() method removes all the items from the list.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
info.clear()
print(info)

pop(): The pop() method removes the key-value pair whose key is passed as a parameter.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True, 'DOB':2003}
info.popitem()
print(info)

apart from these three methods, we can also use the del keyword to remove a dictionary item.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True, 'DOB':2003}
del info['age']
print(info)

If key is not provided, then the del keyword will delete the dictionary entirely.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True, 'DOB':2003}
del info
print(info)

# Copy Dictionaries
We can use the copy() method to copy the contents of one dictionary into another dictionary.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True, 'DOB':2003}
newDictionary = info.copy()
print(newDictionary)

Or we can use the dict() function to make a new dictionary with the items of original dictionary.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True, 'DOB':2003}
newDictionary = dict(info)
print(newDictionary)

# Python Modules
Python modules are python files that contain python code that we can use within our python files ensuring simplicity and code reusability.



Here are some popular python built-in modules:

csv, datetime, json, math, random, sqlite3, statistics, tkinter, turtle, etc.



**Example: importing math module:**

In [ ]:
import math

print("Sin(0) =", math.sin(0))
print("Sin(30) =", math.sin(math.pi/6))
print("Sin(45) =", math.sin(math.pi/4))
print("Sin(60) =", math.sin(math.pi/3))
print("Sin(90) =", math.sin(math.pi/2))

Apart from this we can create our own modules and use them within other python files.



**A. Creating and using module:**

Write code and save file with extension .py .


**Example: creating file module.py and writing some code:**

In [ ]:
def add(a, b):
    return (a+b)

def sub(a, b):
    return (a-b)

def mul(a, b):
    return (a*b)

def div(a, b):
    return (a/b)

Now we can use this code in a different python file by simply using the import statement.

**Example: creating file calc.py and importing module.py**

In [ ]:
import module

Now we can write code to call the functions from module.py in calc.py

In [ ]:
import module

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition", module.add(num1, num2))
print("Subtraction", module.sub(num1, num2))
print("Multiplication", module.mul(num1, num2))
print("Division", module.div(num1, num2))

# B. Using an alias:
We can also use alias while importing module. This way we do not need to write the whole name of the module while calling it.

In [ ]:
import math as m

print("Square Root of 36 :", m.sqrt(36))
print("3 to the power of 4 :", m.pow(3,4))

# C. import from module:
You can also import specific parts that you need from a module instead of importing the entire module.



**Example: creating file module.py and writing some code:**

In [ ]:
def add(a, b):
    return (a+b)

def sub(a, b):
    return (a-b)

def mul(a, b):
    return (a*b)

def div(a, b):
    return (a/b)

Example: now we will only import add() and sub() function into our calc.py file.

In [ ]:
from module import add, sub

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition", add(num1, num2))
print("Subtraction", sub(num1, num2))
print("Multiplication", mul(num1, num2))
print("Division", div(num1, num2))

As we can see that, we have only imported add() and sub() functions from module.py file. Hence we get output for these functions, but we get error if we use any other functions.



But what if want to import everything from a module but we do not need to prefix module name again and again?

Use an asterisk(*) while importing.

In [ ]:
from module import *

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition", add(num1, num2))
print("Subtraction", sub(num1, num2))
print("Multiplication", mul(num1, num2))
print("Division", div(num1, num2))

As we can see, by using an asterisk(*), we can directly call the functions from the imported module without prefixing it with module name.

# D. dir() function:
The dir() function lists all the function names (or variable names) in a module.

In [ ]:
from operator import mod
import math

lst1 = dir(math)
print(lst1)

# Python Packages
Python packages are essentially folders that contain many python modules. As such, packages help us to import modules from different folders.



Here are some packages provided by python,

NumPy, SciPy, Pandas, Seaborn, sklearn, Matplotlib, etc.

# Python PIP
pip stands for Package Installer for Python. It  is used to install and manage software packages in python that are not the part of standard python library.

In the later versions of python (3.4 and after), the pip command is pre-installed.



To Check if pip is installed in your system, type the following in command prompt:

pip --version

In [ ]:
pip --version

pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)

If your system does not have pip installed, you can easily download it from their official website: https://pypi.org/project/pip/

Now that pip has been installed in our system, we can download packages in system.

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

**To list all the installed packages:**

In [ ]:
pip list

# Python File Handling
File handling in python lets you open, read, write, append, modify files.

 we will assume that your text file and python code are present in the same directory.

Before we perform any operation on file, we need to open the file. This is done using the open() function.



Example: lets say we have a text file (someText.txt) with some content in it. The open() function creates a file object with read() method for reading the content.

In [ ]:
file = open("sometext.txt")
print(file.read())

Dr. Grewal is a top-notch dentist in tricity. He explained the procedure thoroughly and answered all my questions patiently. His expertise was evident, and I felt confident in his care. What stood out was his personalized approach, making me feel valued and understood. The follow-up after the appointment was a thoughtful gesture that showcased his commitment to patient well-being. Overall, DR GREWAL'Z DENTAL SMILE STUDIO provides a perfect blend of skill, compassion, and patient-centeredness. Highly recommended for a remarkable dental experience!

There are various modes in which we can open files.

read (r): This mode opens the file for reading only and gives an error if the file does not exist. This is the default mode if no mode is passed as a parameter.
write (w): This mode opens the file for writing only and creates a new file if the file does not exist.
append (a): This mode opens the file for appending only and creates a new file if the file does not exist.
create (x): This mode creates a file and gives an error if the file already exists.


Apart from these modes we also need to specify how the file must be handled:

text (t): Used to handle text files.
binary (b): used to handle binary files (images).

# Read/Write Files
**A. Create a File:**

Creating a file is primarily done using the create (x) mode.

In [ ]:
file = open("Text.txt", "x")

**B. Write onto a File:**

This method writes content onto a file.

In [ ]:
file = open("Text.txt", "w")
file.write("This is an example of file creation.")
file.close

If the file already exists with some content of its own, then this mode overwrites it.

**C. Read a File:**
This method allows us to read the contents of the file.

In [ ]:
file = open("Text2.txt", "r")
print(file.read())
file.close

**D. Append a File:**
This method appends content into a file.

In [ ]:
file = open("newText.txt", "a")
file.write("This is an example of file appending.")
file.close

However, If the file exists already with some content in it, then the new content gets appended.

In [ ]:
file = open("newText.txt", "a")
file.write(" Hello, I'm appending")
file.close